/* .estudo {
    padding: 0 30px;
} */
.estudo__titulo {
    padding: 20px 0;
    text-align: center;
    font-size: 3rem;
}
.estudo__titulo::first-letter {
    color: #ff0157;
}
.estudo__texto {
    font-size: 16px;
    line-height: 1.5em;
    padding: 5px 30px;
    text-align: justify;
    text-indent: 30px;
}
.estudo__texto .link__externo {
    text-decoration: none;
    background-color: #eee;
    color: #111;
}
.estudo__texto .link__externo:hover {
    text-decoration: underline;
}
.estudo__texto .link__externo:after {
    content: ' 🔗';
}
.estudo__nota {
    text-align: justify;
    font-size: .9rem;
    line-height: 1.3em;
    padding: 5px 30px;
}

@media screen and (min-width:321px) and (max-width:768px) {
    .estudo__titulo {
        font-size: 1.8rem;
        padding: 10px 0;
    }
    .estudo__desenvolvimento--titulo {
        font-size: 1.3rem;
    }
    .estudo__formatura--conteiner-titulo__formatura {
        font-size: 1.3rem;
    }
    .estudo__box--senai {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 5px;
        overflow: hidden;
    }

    .imagem {
        width: 100%;
    }
}
@media screen and (min-width:769px) {
    .estudo__formatura--conteiner-titulo__formatura {
        font-size: 1.5rem;
        padding: 15px 0;
    }
    .estudo__titulo {
        font-size: 3rem;
    }
    .imagem {
        width: 100%;
    }

}


