.estudo__conteiner--tabela {
    align-items: center;
    display: flex;
    justify-content: center;
}
.estudo__table {
    border-collapse: collapse;
    margin-top: 15px;
    padding: 0;
    
}
.table__thead--th, .table__data {
    border: 2px solid black;
    border-collapse: collapse;
}
.table__data {
    padding: 5px;
}


.table__data.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-collapse: collapse;
    border-bottom: 2px solid black;
    border-left: 2.5px solid black;
}


.table__tbody--tr:hover {
    background-color: #eee;
}
.table__tbody--tr .nome, .table__thead--th {
    text-align: center;
}
.table__tbody--tr .logo-linguagens {
    height: 60px;
    text-align: left;
}
.table__thead--th {
    background-color: #ff0157;
}

@media only screen and (min-width:321px) and (max-width:768px) {
    .estudo__table {
        width: 85vw;
    }
    .logo-linguagens {
        height: 30px;   
    }
}
@media only screen and (min-width:769px) {
    .estudo__table {
        width: auto;
    }  
}