.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('a.jpeg');
    background-size: cover;
    background-position: bottom center;
    color: #fff;
}
.contato {
    height: 100vh;
    background-image: url('/bg-contato.jpg');
    background-size: cover;
    background-position: right bottom;
}