.banner {
    position: relative;
    width: 1200px;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('a.jpeg');
    background-size: cover;
    background-position: bottom center;
    color: #fff;
}
.contato {
    height: 100vh;
    background-image: url('bg-contato.jpg');
    background-size: cover;
    background-position: right bottom;
}

@media only screen and (min-width: 321px) and (max-width: 800px) {
    .menuToggle {
        
        position: relative;
        width: 40px;
        height: 40px;
        
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background: url('menu.svg');
        
    }
    .menuToggle.active {
        
        
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;   
        background: url('close.svg');
    }
    .menu__lista {
        gap: 0;
    }
    .menu__link {
        color: black;
    }
    
}