
.banner__conteudo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
}
.banner__titulo {
    box-sizing: border-box; 
}

.banner__botao {
    background-color: transparent;
    border: 2px solid #ff0157;
    color: #ff0157;
    display: inline-block;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}
.banner__botao:hover {
    background-color: #ff0157;
    color: #fff;
    font-weight: 500;
}

@media only screen and (min-width:321px) and (max-width:600px) {
    .banner__botao {
        font-size: .8em;
        padding: 8px 16px;
        margin-top: 30px;
    }
    .banner__conteudo .banner__titulo {
        font-size: 2.5rem;
        padding-top: 15px 10px 0 10px ;
        margin-bottom: 60px;
        text-align: center;
    }
    .banner__descricao {
        font-size: 1.5rem;
        padding: 0 10px 5px 10px;
        text-align: center;
    }
}
@media only screen and (min-width:769px) {
    .banner__botao {
        font-size: 1em;
        padding: 10px 30px;
        margin-top: 50px;
    }
    .banner__conteudo .banner__titulo {
        font-size: 4rem;
        padding-top: 40px;
    }
    .banner__descricao {
        font-size: 1.5rem;
    }
}