
.banner__conteudo {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner__titulo {
    box-sizing: border-box;
    
}

.banner__botao {
    font-size: 1em;
    color: #fff;
    display: inline-block;
    background-color: #ff0157;
    padding: 10px 30px;
    margin-top: 50px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s;
}
.banner__botao:hover {
    letter-spacing: 2px;
    background-color: transparent;
    color: #ff0157;
    border: 2px solid #ff0157;
    font-weight: 500;
}

@media screen and (min-width: 350px) {
    .banner__conteudo .banner__titulo {
        font-size: 2.5rem;
        padding: 15px;
        margin-bottom: 60px;
        text-align: center;
    }
    .banner__descricao {
        font-size: 1.5rem;
        padding: 15px;
        text-align: center;
    }
}
@media screen and (min-width: 700px) {
    .banner__conteudo .banner__titulo {
        font-size: 4rem;
        padding-top: 40px;
    }
    .banner__descricao {
        font-size: 1.5rem;
    }
}