.carreira__titulo {
    text-align: center;
    padding: 20px 0;
}
.carreira__titulo--destaque {
    color: #ff0157;
}
.carreira__descricao {
    padding: 0 0 24px 24px;
}
.carreira__box--imgLogos {
    width: 200px;
    max-height: 100px;
    
}
.carreira__logo--empresa {
    width: 100%;
    max-height: 50px;
}

.carreira__timeline--conteiner {
    position: relative;
    padding: 20px 0 0 0;
    
}
.carreira__timeline--conteiner:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: calc(100% - 50px);
    background-color: #c5c5c5;

}

.carreira__timeline--conteiner 
.carreira__lista {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.carreira__timeline--conteiner 
.carreira__lista 
.carreira__lista--item {
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.carreira__timeline--conteiner 
.carreira__lista 
.carreira__lista--item:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}
.carreira__timeline--conteiner 
.carreira__lista 
.carreira__lista--item:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}
.carreira__lista--conteudo {
    padding-bottom: 20px;
}
.carreira__timeline--conteiner 
.carreira__lista 
.carreira__lista--item:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background-color: rgba(233,33,99,1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233,33,99,.2);
}
.carreira__timeline--conteiner 
.carreira__lista 
.carreira__lista--item:nth-child(even):before {
    content: '';
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    background-color: rgba(233,33,99,1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233,33,99,.2);
}
.carreira__timeline--conteiner 
.carreira__lista 
.carreira__lista--item 
.carreira__cargo {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: rgba(233,33,99,1);
}
.carreira__timeline--conteiner 
.carreira__lista 
.carreira__lista--item 
.carreira__cargo--descricao {
    margin: 10px 0 0;
    padding: 0;
}
.carreira__timeline--conteiner 
.carreira__lista 
.carreira__lista--item 
.carreira__cargo--tempo {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.carreira__timeline--conteiner 
.carreira__lista 
.carreira__lista--item:nth-child(odd) 
.carreira__cargo--tempo {
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 4px 16px;
    background-color: rgba(233,33,99,1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 2px rgba(233,33,99,0.3);
}
.carreira__timeline--conteiner 
.carreira__lista 
.carreira__lista--item:nth-child(even) 
.carreira__cargo--tempo {
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 4px 16px;
    background-color: rgba(233,33,99,1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 2px rgba(233,33,99,0.3);
}

.carreira .link__externo:after {
    content: ' 🔗';
}
.carreira .link__externo {
    text-decoration: none;
    background-color: #eee;
    color: #111;
}
.carreira .link__externo:hover {
    text-decoration: underline;
}

@media screen and (min-width: 1000px) {
    .carreira__timeline--conteiner {
        max-width: 1300px;
    }
    .carreira__timeline--conteiner {
        display: flex;
        justify-content: center;
    }
    .carreira__titulo {
        font-size: 3rem;
    }
    .carreira__box--imgLogos {
        width: 570px;
    }
    .carreira__timeline--conteiner 
    .carreira__lista 
    .carreira__lista--item:nth-child(odd)
    .carreira__box--imgLogos {
    position: absolute;
    right: 40px;
    top: -30px;
    }
    .carreira__timeline--conteiner 
    .carreira__lista 
    .carreira__lista--item
    .carreira__logo--empresa {
    width: 200px;
    }
    .carreira__timeline--conteiner .carreira__lista {
        align-self: center;
    }
}
    

@media only screen and (min-width:321px) and (max-width:768px) {
    .carreira__titulo {
        font-size: 1.8rem;
        padding: 10px 0;
    }
    .carreira__cargo--descricao {
        text-align: left;
    }
    .carreira__timeline--conteiner {
        width: 100%;
    }
    .carreira__timeline--conteiner:before {
        left: 20px;
    }
    .carreira__timeline--conteiner .carreira__lista
    .carreira__lista--item:nth-child(odd), 
    .carreira__timeline--conteiner 
    .carreira__lista 
    .carreira__lista--item:nth-child(even) {
        width: 100%;
        text-align: justify;
        padding: 0 24px 50px 50px;
    }

    .carreira__timeline--conteiner .carreira__lista 
    .carreira__lista--item:nth-child(odd):before, 
    .carreira__timeline--conteiner .carreira__lista 
    .carreira__lista--item:nth-child(even):before {
        top: -18px;
        left: 16px;
    }
    .carreira__timeline--conteiner 
    .carreira__lista 
    .carreira__lista--item:nth-child(even) 
    .carreira__cargo--tempo,
    .carreira__timeline--conteiner 
    .carreira__lista 
    .carreira__lista--item:nth-child(odd) 
    .carreira__cargo--tempo {
        top: -30px;
        left: 50px;
        right: inherit;
    }
    .carreira__lista--conteudo {
        margin-top: 20px;
    }
    
}
@media only screen and (min-width:769px) {
    .carreira__titulo {
        font-size: 3rem;
    }
}