.titleText {
    color: #fff;
    margin-top: 20px;
    text-align: center;
    padding-bottom: 15px;
}
.titleText__destaque {
    color: #ff0157;
}
.title p {
    color: #fff;
    text-align: center;
}

.contactForm h3 {
    color: black;
    padding: 10px 0;
}
.contactForm {
    padding: 30px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.096);
    max-width: 500px;
    margin-top: 50px;
    margin-left: 50px;
    /* border-radius:  0 0 30px 30px; */

}
.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactForm .inputBox input, .contactForm .inputBox textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline-color: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
    border-radius: 5px;
}
.contactForm .inputBox input[type='submit'] {
    font-size: 1em;
    color: #fff;
    background-color: #ff0157;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: .5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
.contactForm .inputBox input[type='submit']:hover {
    letter-spacing: 5px;
    
}

@media only screen and (min-width:321px) and (max-width:768px) {
    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .contactForm {
        width: 70vw;
        margin: 0;
    }
    .contato__descricao {
        margin-bottom: 30px;
    }
    .titleText {
        font-size: 1.8rem;
    }
    .contato .contato__descricao {
        font-size: 1.4rem;
    }
    
}
@media screen and (min-width:769px) {
    .titleText {
        font-size: 3rem;
    }
}


footer {
    background-color: #202425;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
}
footer ul {
    color: transparent;
}
footer a {
    text-decoration: none;
    color: #fff;
    
}
footer a:hover {
    color: #ff0157;
    text-decoration: underline;
}
footer li {
    padding: 10px 0;
}
.svg {
    width: 35px;
    height: 35px;
    color: white;
}
