/* .estudo__desenvolvimento--conteiner {
    text-align: justify;
    padding: 5px 24px;
} */
.estudo__texto {
    text-align: justify;
    padding: 5px 24px;
}
.estudo__nota {
    margin: 5px 24px;
    /* background-color: lightgray; */
}
.estudo__box--senai {
    max-width: 700px;
    display: block;
    margin: auto;
    overflow: hidden;
}
.estudo__box--senai .imagem {
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.342);
}
.estudo__box--senai .legenda {
    text-align: center;
    padding: 10px;
}

@media screen and (min-width: 350px) {
    
    .estudo__box--senai {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .picture {
        width: 70vw;
    }
    .imagem {
        width: 100%;
    }
}
