.filme__card--img {
    width: 380px;
    height: 260px;
    overflow: hidden;
}
.filmes__card img {
    width: 100%;
    height: 100%;
}
.filmes__conteiner {
    display: flex;
    flex-wrap: wrap;
}
.filmes__card {
    padding: 10px 24px;
}