.header {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    padding-left: 50px;
    z-index: 10000;
    transition: .5s;
    box-sizing: border-box;
    margin-top: 20px;
    /* overflow: hidden; */
    
}
.header__logo {
    font-size: 3rem;
    color: #fff;
}
.header__box {
    width: 90vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.header__logo--destaque {
    color: #ff0157;
}
.header__box--conteudo {
    width: 150px;
}
.header.sticky .header__logo--complemento {
    color: black;
}
.header.sticky .header__logo {
    color: black;
    font-size: 2rem;
}

.header.sticky {
    background-color: white;
    padding: 5px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.507);
    height: 70px;
    margin-top: 0;
    transition: .5s;
}
.header.sticky .menu__link {
    color: black;
}
.header.sticky .menu__lista .menu__item .menu__link {
    color: #111;
    font-weight: 500;
}




@media screen and (max-width: 767px) {
    .header__box {
       
    }
}
@media screen and (min-width: 1000px) {
    .header__box {
        max-width: 1000px; 
    }
}
