.header {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    padding: 0px 50px;
    z-index: 10000;
    transition: .5s;
    box-sizing: border-box;
    margin-top: 20px;

    
}
.header__logo {
    font-size: 3rem;
    color: #fff;
}
.header__box {
    max-width: 1000px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo--destaque {
    color: #ff0157;
}
.header__box--conteudo {
    width: 300px;
}
.header.sticky .header__logo--complemento {
    color: black;
}
.header.sticky .header__logo {
    color: black;
}

.header.sticky {
    background-color: white;
    padding: 5px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.507);
    height: 70px;
    margin-top: 0;
    transition: .5s;
}
.header.sticky .menu__link {
    color: black;
}
.header.sticky .menu__lista .menu__item .menu__link {
    color: #111;
    font-weight: 500;
}




.menu {
    width: 1100px;   
}
.menu__lista {
    display: flex;
    list-style-type: none;
    margin-left: 300px;
    
}
.menu__item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 150px;
    height: 100px;
    
}
.menu__item:last-child {
    padding-right: 30px;
}
.menu__link {
    text-decoration: none;
    color: #ff0157;
}

