.header {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    padding: 0 50px;
    z-index: 10000;
    transition: .5s;
    box-sizing: border-box;
    margin-top: 20px;
    overflow: hidden;
    
}
.header__logo {
    font-size: 3rem;
    color: #fff;
}
.header__box {

    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.header__logo--destaque {
    color: #ff0157;
}
.header__box--conteudo {
    width: 150px;
}
.header.sticky .header__logo--complemento {
    color: black;
}
.header.sticky .header__logo {
    color: black;
    font-size: 2rem;
}

.header.sticky {
    background-color: white;
    /* padding: 5px 100px; */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.507);
    height: 70px;
    margin-top: 0;
    transition: .5s;
}
.header.sticky .menu__link {
    color: black;
}
.header.sticky .menu__lista .menu__item .menu__link {
    color: #111;
    font-weight: 500;
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
    .header__box {
        width: 90vw;
        background-color: darkslategrey;
    }
    .header {
        width: 700px;
        background-color: aqua;
        overflow: hidden;
    }
    .header.sticky {
        padding: 10px 20px;
        color: blue;
        width: 700px;
    }
    .header .menu__lista {
        display: none;
    }
    .header .menu__lista.active {
        width: 700px;
        height: calc(100% - 250px);
        position: fixed;
        top: 70px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: red;
    }
    .header .menu .menu__lista .menu__item .menu__link {
        counter-reset: #111;
        font-size: 1.4em;
        font-weight: 300;
    }
}
@media only screen and (min-width:769px) {
    .header .menu__lista {
        display: flex;
    }
    .header__box {
        width: 80vw;
    }
    .header.sticky {
        padding: 10px 20px;
        color: rgb(21, 255, 0);
        width: 80vw;
    }
    .header {
        width: 80vw;
        background-color: goldenrod;
    }
}