@media (max-width: 990px) {
    .header.sticky {
        padding: 10px 20px;
    }
    .header .menu__lista {
        display: none;
    }
    .header .menu__lista.active {
        width: 100%;
        height: calc(100% - 60px);
        position: fixed;
        top: 70px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #eee;
    }
    .header .menu .menu__lista .menu__item .menu__link {
        counter-reset: #111;
        font-size: 1.6em;
        font-weight: 300;
    }
    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background-color: aqua;
        background-image: url('/menu.svg');
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        
    }
    .menuToggle.active {
        background-image: url('/close.svg');
        background-repeat: no-repeat;
        background-position: center;   
    }
    .header.sticky .menuToggle {
        filter: invert(1);
    }
}