
.sobre__perfil--foto {
    width: 150px; 
    height: 150px;
    /* width: 340px; 
    height: 350px; */ 
    background-color: rgba(211, 211, 211, 0.829); border-radius: 50%; 
    border: 1px solid rgba(0, 119, 255, 0.726);
    display: block;
    margin: auto;
}

