.sobre__biografia--texto {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    padding: 5px 24px;
    text-align: justify;
    text-indent: 30px;
}
.sobre__descricao {
    padding-left: 24px;
}
.sobre__perfil--foto {
    background-color: rgba(211, 211, 211, 0.829); 
    border: 1px solid rgba(0, 119, 255, 0.726);
    border-radius: 50%; 
    display: block;
    height: 250px; 
    margin: auto;
    width: 250px; 
}
.sobre__perfil--legenda  {
    padding: 10px;
    text-align: center;
}
.sobre__titulo {
    padding: 20px 0;
    text-align: center;
}
.sobre__titulo--destaque {
    color: #ff0157;
}
.sobre {
    background-color: gray;
}
.carreira {
    background-color: blue;
}
.estudo {
    background-color: red;
}
.dicas {
    background-color: yellow;
}
.contato {
    background-color: yellowgreen;
}
body {
    background-color: darkmagenta;
}
@media only screen and (min-width:321px) and (max-width:768px) {
    .sobre__titulo {
        font-size: 1.8rem;
        padding: 10px 0;   
    }
}
@media only screen and (min-width:769px) {
    .sobre__titulo {
        font-size: 3rem;   
    }
}
