.estudo__conteiner--tabela {
    display: flex;
    justify-content: center;
    align-items: center;
}
.estudo__table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    
}
.table__thead--th, .table__data {
    border: 2px solid black;
    border-collapse: collapse;
}
.table__data {
    padding: 5px;
}
.table__tbody--tr .nome, .table__thead--th {
    text-align: center;
}
.table__tbody--tr .logo-linguagens {
    text-align: left;
    height: 60px;
}
.table__thead--th {
    background-color: #ff0157;
}

@media screen and (max-width: 400px) {
    .logo-linguagens {
        height: 30px;   
    }
    .estudo__table {
        width: 300px;
    }
}
