.estudo__desenvolvimento {
    /* background-color: #2A2B32; */
}
.estudo__desenvolvimento--titulo {
    /* color: #ff0157; */
}
.estudo__desenvolvimento--tecnologias_box {
    margin: 15px 0 15px;
    width: 100%;
}
.logo-linguagens {
    height: 80%;
}
.estudo__desenvolvimento--table {
    width: 80vw;
    display: block;
    margin: auto;
    border-collapse: collapse;
    background-color: rgb(231, 222, 222);
    

}
.table__thead--th, .table__data {
    border: 2px solid black;
    border-collapse: collapse;
}
.table__data {
    padding: 5px;
}
.table__tbody--tr .nome, .table__thead--th {
    text-align: center;
}
.table__tbody--tr .logo-linguagens {
    text-align: left;
}
.table__thead--th {
    background-color: #ff0157;
}
.triade {
    /* background-color: #ced4da; */
}
.repositorio {
    /* background-color: #adb5bd;  */  
}
.framework {
    /* background-color: #6c757dc9; */
}

@media screen and (min-width: 500px) {
    .estudo__desenvolvimento--table {
        width: 90vw;
    }
}