.estudo__desenvolvimento--tecnologias_conteudo {
    background-color: rgb(212, 209, 26);
}
.estudo__desenvolvimento--tecnologias_box {
    margin: 15px 0 15px;
    width: 100%;
    background-color: blue;

}

.estudo__desenvolvimento--table {
    max-width: 70vw;
    display: block;
    margin: auto;
    border-collapse: collapse;
    background-color: rgb(231, 222, 222);
    

}
.table__thead--th, .table__data {
    border: 2px solid black;
    border-collapse: collapse;
}
.table__data {
    padding: 5px;
}
.table__tbody--tr .nome, .table__thead--th {
    text-align: center;
}
.table__tbody--tr .logo-linguagens {
    text-align: left;
}
.table__thead--th {
    background-color: #ff0157;
}
.triade {
    /* background-color: #ced4da; */
}
.repositorio {
    /* background-color: #adb5bd;  */  
}
.framework {
    /* background-color: #6c757dc9; */
}

