@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1B1C1E;
}
.header {
    height: 100px;
}
.header__titulo {
    color: rgb(223, 223, 12);
    font-size: 4rem;
    margin: 15px 0 20px 20px;
}
.header__titulo--destaque {
    color: #fff;
}
.main {
    background-color: #333333;
    height: 480px;
    width: 770px;
    border-radius: 20px 30px 40px 50px;
    margin-left: 30px;
}
.conteudo {

    display: flex;
}
.login {
    margin: 2rem;
    width: 650px;
}
.login .login__titulo2 {
    font-size: 32px;
    color: #fff;
}
.login .login__titulo1 {
    font-size: 64px;
    color: #fff;
}
.login__titulo1--destaque {
    color: rgb(223, 223, 12);
}
.login__descricao {
    font-size: 24px;
    color: #fff;
}
.login__descricao--destaque {
    color: rgb(223, 223, 12);
    font-weight: bold;
}
.login__descricao--destaque .link {
    text-decoration: none;
}
.formulario {
    margin: 0 0 2rem 6rem;
}

.formulario__conteiner {

}
.formulario__dados {
    margin-bottom: 10px;
}
.formulario__conteiner .input {
    height: 40px;
    width: 300px;
    border-radius: 10px;
    background-color: #666666;
    border: 1px solid #000000;
}
.formulario__conteiner .input__name {
    width: 140px;   
}
.lastname {
    margin-left: 15px;
}
.formulario__botoes {
    display: flex;
    margin-top: 20px;
}
.formulario__botoes .formulario__botao {
    height: 32px;
    width: 140px;
    border-radius: 25px;
    font-size: .9rem;
    color: white;
    border: none;
}
.change {
    background-color: #191919;
    opacity: 0.8;
    cursor: pointer;
}
.change:hover {
    opacity: 1;
}
.create {
    background-color: rgb(223, 223, 12);
    opacity: 0.8;
    margin-left: 20px;
    cursor: pointer;
}
.create:hover {
    opacity: 1;
}
.input::placeholder {
    color: white;
    font-size: .9rem;
}
.input {
    color: white;
    text-indent: 10px;
}

.aside {
    height: 480px;
    width: 380px;
    margin-left: 30px;
    border-radius: 8px;
    padding: 15px;
    background-color: #333333;
    color: #fff;
}
.aside__descricao {
    margin-top: 15px;
}
.aside__titulo {
    font-size: 24px;
    font-weight: bold;
}
.banner {
    width: 100vw;
    height: 100vh;
}