.rodape {
    background-color: #202425;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
}
.rodape .rodape__lista {
    color: transparent;
    display: flex;
    flex-direction: row;
    gap: 70px;
}
.rodape .rodape__lista--link {
    text-decoration: none;
    color: #fff;
    
}
.rodape .rodape__lista--link:hover {
    color: #ff0157;
    text-decoration: underline;
}
.rodape .rodape__lista--item {
    padding: 10px 0;
    width: 40px;
    height: 40px;
}

.rodape .rodape__lista--item .rodape__lista--link .rodape__imagem:hover {
    background-color: #ff0157;
    border-color: #ff0157;
}
.rodape .rodape__imagem {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid white;
}

