.sobre {
    padding: 0 30px;
}
.sobre__titulo {
    font-size: 3rem; 
    padding: 20px 0;
    text-align: center;  
}
.sobre__titulo::first-letter {
    color: #ff0157;
}
.sobre__descricao {
    padding: 24px;
    font-size: 16px;
}
.sobre__biografia--texto {
    font-size: 16px;
    line-height: 1.5em;
    padding: 5px 0;
    text-align: justify;
    text-indent: 30px;
}

@media screen and (min-width:321px) and (max-width:768px) {
    .sobre__titulo {
        font-size: 1.8rem;
        padding: 10px 0;   
    }
}
/* @media screen and (min-width:769px) and (orientation: landscape) and (max-width:1000px) {
    .sobre__titulo {
        font-size: 3rem;   
    }
    .sobre {
        width: 1020px; 
        min-width: 100vw;
    }
} */
/* @media screen and (min-width: 1020px) {
    .sobre {
        width: 1400px;
        min-width: 100vw;
    }
    .sobre__titulo {
        font-size: 3rem;   
    }
    .sobre {
        width: 1300px; 
      
    }
} */