.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/home/imagem/background/bgDark3.jpg');
    background-size: cover;
    background-position: bottom center;
    color: #fff;
}