.titulo {
    font-size: 24px;
    font-weight: bolder;
}
.destaque {
    color: #ff0157;
}
.texto {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
}
.legenda, .nota {
    font-size: 12px;
    font-weight: 500;
}
.h3, .h4 {
    font-size: 14px;
    font-weight: bold;
}