.titulo {
    font-size: 3rem;
    font-weight: bolder;
    padding-left: 24px;
}
.destaque {
    color: #ff0157;
}
.texto {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    padding-left: 24px;
}
.legenda, .nota {
    font-size: 14px;
    font-weight: 500;
}
.h3, .h4 {
    font-size: 18px;
    font-weight: bold;
}