* {
    box-sizing: border-box;
}

.titulo {
    font-size: 3rem;
    font-weight: bolder;
    padding-left: 24px;
    text-align: center;
}
.destaque {
    color: #ff0157;
}
.texto {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    padding: 5px 24px;
    text-align: justify;
}
.legenda, .nota {
    font-size: 14px;
    font-weight: 500;
}
.h3, .h4 {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 24px;
}
.filme__descricao {
    text-align: justify;
    
}
.dicas__lista {
    padding-left: 24px;
    list-style-type: none;
}

@media screen and (min-width: 350px) {
    .titulo {
        font-size: 1.5rem;   
    }
}