.contato {
    height: 100vh;
    background-image: url('bg-contato.jpg');
    background-size: cover;
    background-position: right bottom;
}
.contato__titulo {
    color: #fff;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 15px;
    font-size: 3rem;
}
.contato__titulo::first-letter {
    color: #ff0157;
}
.titulo .contato__descricao {
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
}

.contato__formulario h3 {
    color: black;
    padding: 10px 0;
}
.contato__formulario {
    padding: 30px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.096);
    max-width: 500px;
    margin-top: 50px;
    margin-left: 50px;
    /* border-radius:  0 0 30px 30px; */

}
.contato__formulario .inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contato__formulario .inputBox input, .contato__formulario .inputBox textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline-color: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
    border-radius: 5px;
}
.contato__formulario .inputBox input[type='text'] {
    padding-right: 0;
}
.contato__formulario .inputBox textarea {
    padding-right: 0;
}
.contato__formulario .inputBox input[type='submit'] {
    font-size: 1em;
    color: #fff;
    background-color: #ff0157;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: .5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
.contato__formulario .inputBox input[type='submit']:hover {
    letter-spacing: 5px;
    
}



@media only screen and (min-width:321px) and (max-width:768px) {
    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .contato__formulario {
        width: 60vw;
        margin: 0;

    }
    .contato__descricao {
        margin-bottom: 30px;
    }
    .contato__titulo {
        font-size: 1.8rem;
    }
    .contato .contato__descricao {
        font-size: 1.4rem;
    }
    
}
@media screen and (min-width:769px) {
    .contato__titulo {
        font-size: 3rem;
    }
    .contato__formulario {
        display: block;
        margin: auto;
        margin-top: 30px;
    }
}
